<!--菜单栏-->
<div class="home-head gr-margin h80 gr-blue" id="">
    <img src="images/logo.png" alt="LOGO" class="mt10 mr100 fl">
    <ul class="fl">
        <li><a href="/loginHome">首页</a></li>
        <li><a href="/loginHome#jump">聊天室</a></li>
        <li><a href="/draw">绘制图表</a></li>
    </ul>
    <div class="fr w300 tr lh80 cl-white">
        <a class="mr20" href="/personal">个人中心</a>
        <span class="mr10 w80">{{user.name}}</span>
        <span class="mr10">|</span>
        <a class="w80" href="/logout">退  出 <span class="glyphicon glyphicon-log-out ml5"></span></a>
    </div>

</div>
<div class="user-main">
    {{#if status}}
        <p class="f18 fb tc mt200">{{msg}}</p>
    {{else}}
        <ul>
            {{#each doc}}
            <li class="fl p1p2 mb50 mr50">
                <input type="hidden" name="fileId" class="fileId" value="{{_id}}">
                <img src="images/lines.png" alt="" class="w100 h100 fl mr10">
                <div class="fl h100">
                    <p class="f16 fb"><a href="" class="cl-black">{{file_name}}</a></p>
                    <p>{{file_time}}</p>
                    <p class="mt20">
                        <button type="button" class="btn btn-success btn-sm mr10 w50 look">查  看</button>
                        <button type="button" class="btn btn-danger btn-sm w50 delete" data-toggle="modal" data-target="#myDelete">删  除</button>
                    </p>
                </div>
            </li>
            {{/each}}
        </ul>
    {{/if}}

</div>
<input type="hidden" class="delId">
<div class="modal fade" id="myDelete" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <p class="modal-title" id="myModalLabel">
                    提示
                </p>
            </div>
            <div class="modal-body f16">
                是否确认删除？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info delOk" data-dismiss="modal">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<script src="js/business/user.js"></script>
<link rel="stylesheet" href="style/business/user.css">
